workflow:
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH

variables:
  NETLIFY_SITE_ID: 'cba9b98b-9a6a-4907-b1bb-5c253fa98428'

stages:
  - build
  # - test
  # - deploy_review
  # - post_deploy_review
  # - deploy_staging
  - test_docker
  - deploy_prod

build_docker_netlify:
  stage: .pre
  image: docker:27
  services:
    - docker:27-dind
  variables:
    DOCKER_IMAGE: "$CI_REGISTRY_IMAGE/node-netlify:latest"
  script:
    - docker version
    - echo $CI_REGISTRY_PASSWORD | docker login $CI_REGISTRY -u $CI_REGISTRY_USER --password-stdin
    - docker build -t $CI_REGISTRY_IMAGE/netlify -f ci/Dockerfile .
    - docker image ls
    - docker push $CI_REGISTRY_IMAGE/netlify

build_website:
  image: $CI_REGISTRY_IMAGE/netlify:latest
  stage: build
  script:
    - node --version
    - npm --version
    - npm ci
    - npm run build
  artifacts:
    paths: 
      - build/

.test_artifact:
  image: alpine
  stage: test
  script:
    - test -f build/index.html

.unit_tests:
  image: node:22-alpine
  stage: test
  script:
    - npm ci
    - npm test
  artifacts:
    when: always
    reports:
      junit: reports/junit.xml

.netlify_review:
  image: node:22-alpine
  stage: deploy_review
  rules:
    - if: $CI_COMMIT_REF_NAME != $CI_DEFAULT_BRANCH
  environment:
    name: preview/$CI_COMMIT_REF_SLUG
    url: $DEPLOY_URL
  before_script: 
    - npm install -g netlify-cli@20.1.1
    - apk add curl jq
  script:
    - netlify --version
    - netlify status
    - echo "Deploying to site id $NETLIFY_SITE_ID"
    - REPONSE=$(netlify deploy --dir build --json)
    - echo $RESPONSE
    - DEPLOY_URL=$(echo "$REPONSE" | jq -r '.deploy_url')
    - echo "DEPLOY_URL=$DEPLOY_URL" > deploy.env
    - cat deploy.env
  artifacts:
    reports:
      dotenv: deploy.env

.e2e:
  image: mcr.microsoft.com/playwright:v1.49.1-noble 
  stage: post_deploy_review
  variables:
    APP_BASE_URL: $DEPLOY_URL
  before_script:
    - npm ci
  script:
    - echo $DEPLOY_URL
    - echo $APP_BASE_URL
    - echo "test github  2"
    - npm run e2e
  artifacts:
    when: always
    paths:
      - reports/
    reports:
      junit: reports/playwright-junit.xml

.netlify_staging:
  image: node:22-alpine
  stage: deploy_staging
  rules:
    - if: $CI_COMMIT_REF_NAME == $CI_DEFAULT_BRANCH
  environment:
    name: staging
    url: 'https://staging--abdallaheid-learn-gitlab.netlify.app'   
  before_script: 
    - npm install -g netlify-cli@20.1.1
    - apk add curl
  script:
    - netlify --version
    - netlify status
    - echo "Deploying to site id $NETLIFY_SITE_ID"
    - netlify deploy --alias staging --dir build
    - echo $CI_ENVIRONMENT_URL
    - curl $CI_ENVIRONMENT_URL | grep 'GitLab'

netlify_prod:
  image: $CI_REGISTRY_IMAGE/netlify:latest
  stage: deploy_prod
  rules:
    - if: $CI_COMMIT_REF_NAME == $CI_DEFAULT_BRANCH
  environment: production
  script:
    - netlify --version
    - netlify status
    - echo "Deploying to site id $NETLIFY_SITE_ID"
    - netlify deploy --prod --dir build
    - curl $CI_ENVIRONMENT_URL | grep 'GitLab'



