variables:
  VITE_APP_VERSION: $CI_COMMIT_SHORT_SHA
  CLUSTER_NAME: "learn-gitlab-cluster-prod"
  SERVICE_NAME: "learn-gitlab-app-td-prod-service"

stages:
  - build
  - package
  - deploy

build_website:
  image: node:22-alpine
  stage: build
  script:
    - node --version
    - npm --version
    - npm ci
    - npm run build
  artifacts:
    paths: 
      - build/


build_docker_image:
  image: 
    name: amazon/aws-cli:2.23.0
    entrypoint: [""]
  stage: package
  services:
    - docker:27-dind
  variables:
    DOCKER_HOST: tcp://docker:2375/
  before_script:
    - amazon-linux-extras install docker
  script:
    - aws --version
    - docker version
    - docker build -t learngitlabapp .

ecs_deploy:
  stage: deploy
  image: 
    name: amazon/aws-cli:2.23.0
    entrypoint: [""]
  script:
    - aws --version
    - aws ecs register-task-definition --cli-input-json file://aws/td-prod.json
    - aws ecs update-service --cluster $CLUSTER_NAME --service $SERVICE_NAME --task-definition learn-gitlab-app-td-prod
    - aws ecs wait services-stable --cluster $CLUSTER_NAME  --services $SERVICE_NAME
