stages:
  - build
  - test

build_website:
  image: node:22-alpine
  stage: build
  script:
    - echo "Starting build..."
    - node --version
    - npm --version
    - npm ci
    - npm run build
  artifacts:
    paths:
      - build/

test_website:
  image: node:22-alpine
  stage: test
  script:
    - echo "Testing if build is successful"
    - test -f build/index.html && echo "✅ index.html found!" || (echo "❌ index.html missing!" && exit 1)
  dependencies:
    - build_website

unit_test:
  image: node:22-alpine
  stage: test
  script:
    - echo "Running unit tests..."
    - npm ci
    # Run your tests and output a JUnit report
    - npm test -- --ci --reporters=default --reporters=jest-junit
  dependencies:
    - build_website
  artifacts:
    when: always
    reports:
      junit: reports/junit.xml
    paths:
      - junit.xml
      - coverage/
