stages:
  - build
  - test

build_job:
  image: alpine
  stage: build
  script: 
    - echo "Building ..."

test_job:
  image: ubuntu
  stage: test
  script: 
    - echo "Testing ..."
    - if (( RANDOM % 2 == 0 )); then exit 1; else exit 0; fi
  retry: 2