variables:
  VITE_APP_VERSION: $CI_COMMIT_SHORT_SHA

build_website:
  image: node:22-alpine
  stage: build
  script:
    - node --version
    - npm --version
    - npm ci
    - npm run build
  artifacts:
    paths: 
      - build/

ssh_deploy:
  stage: deploy
  image: alpine
  before_script:
     # Check if port 22 is open on the server
    - nc -zv $REMOTE_HOST 22
    # Grant read-only permission to the private key
    - chmod 400 $SSH_PRIVATE_KEY
    # Install the OpenSSH client
    - apk add openssh-client
    # Start the SSH agent
    - eval $(ssh-agent)
    # Add the SSH key to the agent
    - ssh-add $SSH_PRIVATE_KEY
    # Create the SSH directory and assign the right permissions
    - mkdir -p ~/.ssh
    - chmod 700 ~/.ssh
    # Create the known_hosts files and assign the right permissions
    - cp $KNOW_HOST ~/.ssh/known_hosts
    - chmod 644 ~/.ssh/known_hosts
  script:
    # Open SSH connection + run commands
    - ssh $ec2-user@$REMOTE_DEPLOY_HOST "whoami; touch /tmp/foo.txt; ls -l /tmp"
    # Copy all the directories and files from the build directory (but not build itself) to the remote destination
    - scp -r build/* $REMOTE_DEPLOY_USER@$REMOTE_DEPLOY_HOST:/usr/share/nginx/html/
