stages:
  - build
  - test
  - deploy

build_website:
  image: node:22-alpine
  stage: build
  script:
    - node --version
    - npm --version
    - npm ci
    - npm run build
  artifacts:
    paths: 
      - build/

.build_website:
  image: alpine
  stage: build
  script:
    - mkdir build
    - echo "<h1>Learn Gitlab<h1>" >> 'build/index.html'
  artifacts:
    paths: 
      - build/

test_artifact:
  image: alpine
  stage: test
  script:
    - test -f build/index.html

unit_tests:
  image: node:22-alpine
  stage: test
  script:
    - npm ci
    - npm test
  artifacts:
    when: always
    reports:
      junit: reports/junit.xml

.eslint:
  image: node:22-alpine
  stage: .pre
  script:
    - npm ci
    - npm run lint
  artifacts:
    reports:
      codequality: gl-codequality.json


netlify:
  image: node:22-alpine
  stage: deploy
  variables:
    NETLIFY_SITE_ID: 'cba9b98b-9a6a-4907-b1bb-5c253fa98428'
  script:
    - echo "Deploying to Netlify..."
    - npm install -g netlify-cli@20.1.1
    - netlify --version
    - echo "Deploy to side id $NETLIFY_SITE_ID"
    - netlify status
    - netlify deploy --dir=build --site=$NETLIFY_SITE_ID --auth=$NETLIFY_AUTH_TOKEN --prod
    # Verification Step
    - echo "Verifying Deployment"
    - apk add --no-cache curl
    # Smoke tests
    - curl 'https://abdallaheid-learn-gitlab.netlify.app/' | grep 'GitLab'
  only:
    - main



