variables:
  VITE_APP_VERSION: $CI_COMMIT_SHORT_SHA

build_website:
  image: node:22-alpine
  stage: build
  script:
    - node --version
    - npm --version
    - npm ci
    - npm run build
  artifacts:
    paths: 
      - build/

ecs_deploy:
  stage: .pre
  image: 
    name: amazon/aws-cli:2.23.0
    entrypoint: [""]
  script:
    - aws --version
    - aws ecs register-task-definition --cli-input-json file://aws/td-prod.json
    - aws ecs update-service --cluster learn-gitlab-cluster-prod --service learn-gitlab-app-td-prod-service --task-definition learn-gitlab-app-td-prod
    - aws ecs wait services-stable --cluster learn-gitlab-cluster-prod  learn-gitlab-app-td-prod-service