stages:
  - build
  - test

build_job:
  image: alpine
  stage: build
  script: 
    - echo "Building ..."

test_job:
  image: ubuntu
  stage: test
  script: 
    - echo "Testing ..."
    - if (( RANDOM % 2 == 0 )); then exit 0; else exit 0; fi
  retry: 
    max: 2
    exit_codes: 1

some_job:
  image: ubuntu
  stage: test
  script: 
    - exit 1
  allow_failure: true