variables:
  NETLIFY_SITE_ID: 'cba9b98b-9a6a-4907-b1bb-5c253fa98428'

stages:
  - build
  - test
  - deploy_staging
  - deploy_prod

build_website:
  image: node:22-alpine
  stage: build
  script:
    - node --version
    - npm --version
    - npm ci
    - npm run build
  artifacts:
    paths: 
      - build/

.build_website:
  image: alpine
  stage: build
  script:
    - mkdir build
    - echo "<h1>Learn Gitlab<h1>" >> 'build/index.html'
  artifacts:
    paths: 
      - build/

test_artifact:
  image: alpine
  stage: test
  script:
    - test -f build/index.html

unit_tests:
  image: node:22-alpine
  stage: test
  script:
    - npm ci
    - npm test
  artifacts:
    when: always
    reports:
      junit: reports/junit.xml

.eslint:
  image: node:22-alpine
  stage: .pre
  script:
    - npm ci
    - npm run lint
  artifacts:
    reports:
      codequality: gl-codequality.json


netlify_prod:
  image: node:22-alpine
  stage: deploy_prod
  before_script:
    - npm install -g netlify-cli@20.1.1
    - apk add --no-cache curl
  script:
    - netlify --version
    - netlify status
    - netlify deploy --dir=build --site=$NETLIFY_SITE_ID --auth=$NETLIFY_AUTH_TOKEN --prod
    - echo "Verifying Deployment"
    - curl 'https://abdallaheid-learn-gitlab.netlify.app/' | grep 'GitLab'
  only:
    - main


netlify_staging:
  image: node:22-alpine
  stage: deploy_staging
  before_script:
    - npm install -g netlify-cli@20.1.1
    - apk add --no-cache curl
  script:
    - netlify --version
    - netlify status
    - netlify deploy --alias staging --dir=build --site=$NETLIFY_SITE_ID --auth=$NETLIFY_AUTH_TOKEN
    - echo "Verifying Deployment"
    - curl 'https://staging--abdallaheid-learn-gitlab.netlify.app/' | grep 'GitLab'
  only:
    - main





